body{
    color:#ffffff;
    background-color: transparent!important;
    font-family: "fira Sans";
    font-size:70%!important;
    margin-top:-40px!important;
    overflow-y: hidden!important;
    text-align:center!important;
}

body th{
    color:#ffffff;
    background-color: #2a6c5a!important;
    border-right:1px solid #dddddd;
}

#table_dt tr:nth-child(2n+1){
    background-color:#cfe2e2;
    color:#222222;
}